@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply text-white mt-8 flex hover:cursor-pointer justify-center p-4 text-lg md:text-2xl w-[40vh] sm:w-[30vh] rounded-lg shadow-[0_0_10px_theme('colors.purple.700')];
}

h1 {
  position: relative;
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
  font-size: 40px;
  text-align: center;
}

h1::after {
  content: "";
  position: absolute;
  background-color: #805ad5;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width 0.3s;
  border-radius: 50px;
}

h1:hover::after {
  width: 100%;
}

@media (max-width: 780px) {
    h1{
    font-size: 20px;
    }
}